<% if notice %>
  <div class="div_center">
    <div class="alert alert-dismissible fade show alerta-error div_alerts_notices" role="alert">
        <p class="alert alert-warning"><%= notice %></p>
    </div>
  <div>
<% end %>

<% if alert %>
  <div class="div_center">
    <div class="alert alert-dismissible fade show alerta-error div_alerts_notices" role="alert">
        <p class="alert alert-warning"> <%= alert %> </p>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag 'toggles'%>
