<% if notice %>
  <p class="notice_container">
    <span class="custom_notice_msg alert alert-secondary notice bg-secondary text-light">
      <%= notice %>
    </span>
  </p>
<% end %>

<% if alert %>
  <p class="notice_container">
    <span class="custom_notice_msg alert alert-danger denied bg-secondary text-light">
      <%= alert %>
    </span>
  </p>
<% end %>
