<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    Ola, esse sistema tem a missao de unir candidatos a empresas
    como forma de facilitar tanto a parte de quem esta em busca de uma oportunidade,
    quanto de quem emprega ter maior alcance e mais recursos na hora de buscar um candidato!
  </nav>
</div>
