  <%= link_to  'Voltar', url_for(:back) %>

  <p>Acesso de Candidato</p>

  <cite>Boas vindas <%= current_candidate.email %></cite>

  <p>
    <%= link_to 'Editar Perfil', edit_candidate_registration_path %>
  </p>

   <p>
    <%= link_to 'Candidaturas', applications_path %>
  </p>
  