<%= stylesheet_link_tag "devise" %> 

<div class= "errors_devise">
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= I18n.t("errors.messages.not_saved",
                  count: resource.errors.count,
                  resource: resource.class.model_name.human.downcase)
        %>
      </h3>
      <div class="alert alert-dismissible fade show alerta-error" role="alert">
        <% resource.errors.full_messages.each do |message| %>
          <p class="alert alert-warning"><%= message %>!</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= javascript_pack_tag 'toggles'%>