a:link {
  text-decoration: none; 
}

h2 {
  margin-top: 0.5em;
  text-align: center;
  color: #007bff;
}

h3{
  text-align: center;
  color: #007bff;
  margin: 1em;
}

h5 {
  text-align: center;
  color: #007bff;
}

.text_search{
  color: #007bff;
  padding-right: 0.5em;
  text-align: center;
}

.icones {
  color: blueviolet;
}

.candidat-collab {
  font-size: 20px;
  color: blueviolet;
}

.result_search {
  margin-top: 2em;
  text-align: center;
}

p > .button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.home_text{
  margin-top: 0.5em;
  padding: 1.5em;
  text-align: justify;
}

.btn_custom{
  margin: 0 1em;
}
