.mt-0 {
  margin: 0 !important;
}

body {
  margin: 0.5em;
}

a:link {
  text-decoration: none; 
}

h2 {
  margin-top: 0.5em;
  text-align: center;
  color: #007bff;
}

h5 {
  text-align: center;
  color: #007bff;
}

.margin_b {
  margin-left: 0.5em;
}

.text_search, h3 {
  color: #007bff;
  padding-right: 0.5em;
  text-align: center;
}

.icones {
  color: blueviolet;
}

.candidat-collab {
  font-size: 20px;
  color: blueviolet;
}

.result_search {
  margin-top: 2em;
  text-align: center;
}

.button  {
  margin-right: 50%;
  margin-left: 50%;
  padding: 1% 2% 1% 2%;
  text-align: center;
  border-radius: 5px;
  background-color:#e3f2fd;
  background-image: linear-gradient(to bottom, rgba(255,255,255,.1), rgba(255,255,255,.3) 49%, rgba(255,255,255,0) 50%, rgba(255,255,255,.3));
  transition: all .5s;
}
.button:hover { 
  background-color:#80dfff;
}
